.rootClass {
  height: 100%;
  width: 100%
}

.jimu-widget-untrace-setting input{
  margin-left: 10px;
}

.UNConfigBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 50;
}

.userTraceBlock {
  display: block;
  width: 40%;
  float: left;
}

.traceTypeBlock {
  display: block;
  width: 59%;
  float: right;
}

.traceConfigBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 5px;
}

.traceConfigBlock-inner {
  padding-left: 5px;
  overflow-y: auto;
  width: 100%;
}

.traceConfigBlock-advance {
  padding-top: 10px;
  width: 100%;
}

.traceTypes {
  padding-bottom: 10px;
}

.addIcon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/add.png);
}

.importIcon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/copy.png);
}

.startFeatureGroup {
  padding-left: 5px;
  width: 100%;
  height: 125px;
  display: block;
  padding-bottom: 25px;
}

.startFeatureGroup-hidden {
  padding-left: 5px;
  width: 100%;
  height: 125px;
  display: none;
  padding-bottom: 25px;
}

.startFeatureHolder {
  width: 95%;
  height: 95%;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #c1c1c1;
}

.barrierFeatureGroup {
  padding-left: 5px;
  width: 100%;
  height: 125px;
  display: block;
  padding-bottom: 25px;
}

.barrierFeatureHolder {
  width: 95%;
  height: 95%;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #c1c1c1;
}

.knnHolder {
  width: 100%;
}

.outputFilterHolder {
  width: 100%;
}

.includeParametersHolder {
  width: 95%;
  height: 95%;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #c1c1c1;
  display: none;
}

.hideDisplay {
  display: none;
}

.includeParameters {
  padding-top: 3px;
  padding-bottom: 15px;
}

.conditionBarriers {
  padding-top: 3px;
  padding-bottom: 15px;
}
.FilterBarriers {
  padding-top: 3px;
  padding-bottom: 15px;
}

.knnSection {
  padding-top: 3px;
  padding-bottom: 15px;
}

.OutputFilters {
  padding-top: 3px;
  padding-bottom: 15px;
}

.OutputConditions {
  padding-top: 3px;
  padding-bottom: 15px;
}

.spacer {
  width: 95%;
  height: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  padding-top: 5px;
}

.spacerLarge {
  width: 100%;
  height: 25px;
}

.addConditionBarriers {
  font-weight: bold;
}

.addFilterBarriers {
  font-weight: bold;
}

.addOutputCondition {
  font-weight: bold;
}

.flagOptions {
  width: 200px;
}

.parametersHeader {
  width: 100%;
  height: 30px;
  background-color: #efefef;
}

.defaultBlock {
  position: absolute;
  bottom: 0px;
}

.rowLabel {
  display: inline;
}