/* COMMON */
.jimu-widget-untrace {
  width: 100%;
  height: 100%;
}

.jimu-widget-untrace .tr {
  height: 24px;
}

.jimu-widget-untrace .td {
  height: 24px;
}

.jimu-widget-untrace input {
  width: 300px;
  height: 24px;
}

.jimu-widget-untrace select {
  width: 300px;
  height: 24px;
}

.button_nonactive {
  height: 32px;
  background-color: #8c8d8d;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_active {
  height: 32px;
  background-color: #000000;
  color: #000000;
  border: 1px solid #ffffff;
}

/* ESRI */

.jimu-widget-untrace .esri-ui-top-left {
  left: 330px;
}

.jimu-widget-untrace #mapDiv {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.jimu-widget-untrace #panelView {
  position: absolute;
  padding: 0;
  margin: 0;
}

/* TOP */

.jimu-widget-untrace #panelTop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 98%;
  color: #000000;
}

.jimu-widget-untrace #title {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 5px;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #8c8d8d;
  color: #ffffff;
  box-sizing: border-box;
  display: block;
}

.jimu-widget-untrace #options {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  letter-spacing: 3px;
  color: #8c8d8d;
}

.jimu-widget-untrace #optTools {
  position: absolute;
  width: 50%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}

.jimu-widget-untrace #optSettings {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
}

.jimu-widget-untrace #status {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #8c8d8d;
}

.jimu-widget-untrace #content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.jimu-widget-untrace #settings {
  display: 'none';
  width: 100%;
  overflow: visible;
}

.jimu-widget-untrace #tools {
  display: 'block';
  width: 100%;
  overflow: visible;
}

.jimu-widget-untrace .inner {
  width: 100%;
  box-sizing: border-box;
}

.jimu-widget-untrace .rowLabel {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 0px;
  font-size: 10px;
  letter-spacing: 3px;
  box-sizing: border-box;
}

.jimu-widget-untrace .row30 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}

.jimu-widget-untrace .rowBtn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  box-sizing: border-box;
}

.jimu-widget-untrace .userTraces {
  padding-top: 8px;
  padding-left: 5px;
}

.jimu-widget-untrace .btnFlags {
  height: 50px;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.jimu-widget-untrace .traceLocations {
  margin-bottom: 10px;
  width: 100%;
  max-height: 200px;
  min-height: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.jimu-widget-untrace .rowChk {
  width: 100%;
  height: 30px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 10px;
  letter-spacing: 3px;
  box-sizing: border-box;
  vertical-align: top;
}

.jimu-widget-untrace .btnX {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  font-size: 9px;
}

.jimu-widget-untrace .btnStartItems {
  width: 32px;
  height: 32px;
  border: 2px solid #35ca55;
  font-size: 9px;
  background-color: #8c8d8d;
}

.jimu-widget-untrace .btnBarrierItems {
  width: 32px;
  height: 32px;
  border: 2px solid #ff0000;
  font-size: 9px;
  background-color: #8c8d8d;
}

.jimu-widget-untrace tr {
  vertical-align: middle;
}

.jimu-widget-untrace td {
  vertical-align: middle;
  font-size: 10px;
}

.jimu-widget-untrace .col120 {
  width: 140px;
  height: 32px;
}

.jimu-widget-untrace .mini {
  width: 120px;
}

.jimu-widget-untrace .block-remove {
  text-align: right;
}

.jimu-widget-untrace .subnetTrace {
  width: 100%;
}

.jimu-widget-untrace .action-button {
  background-color: transparent;
  border: 1px solid #D3D3D3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  background-size: contain;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.jimu-widget-untrace .action-button:hover,
.jimu-widget-untrace .action-button:focus {
  background: #000000;
  color: #e4e4e4;
}

.jimu-widget-untrace .active {
  background: #000000;
  color: #e4e4e4;
}

.jimu-widget-untrace .flagCell {
  width: 33%;
  text-align: left;
  vertical-align: top;
}

.jimu-widget-untrace .drawCell {
  width: 33%;
  vertical-align: top;
  text-align: center;
}

.jimu-widget-untrace .drawButtons {
  padding-top: -25px;
}

.jimu-widget-untrace .runCell {
  width: 33%;
  text-align: right;
  vertical-align: top;
}

.jimu-widget-untrace .drawIconGroup {
  display: none;
}

.jimu-widget-untrace .customTraceItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.jimu-widget-untrace .statusLabel {
  float: left;
}

.jimu-widget-untrace .exportLabel {
  float: right;
  color: blue;
  cursor: pointer;
}
